[submodule "hg_shared"]
	path = shared
	url = https://github.com/RainBowCreation/hg_shared.git
    branch = main
[submodule "hg_server"]
	path = server
	url = https://github.com/RainBowCreation/hg_server.git
    branch = main
[submodule "hg_client"]
	path = client
	url = https://github.com/RainBowCreation/hg_client.git
    branch = main